:root {
    --dark: rgb(168, 132, 85);
    --light: Burlywood;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Game Board */
#board {
    height: 50vh;
    width: 50vh;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border: 0.5vh var(--dark) solid;

}

/* Board Square */

#board span {
    background-color: var(--dark);
}

#board span[is-black='0'] {
    background-color: var(--light);
}

#board span[has-knight='1'] {
    background-image: url(white-knight.svg);
}

/* floating footer */
.copyright {
    font-size: 2vh;
    color: var(--dark);
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    user-select: none;
}